
/*for laptop*/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;  
}
.header h1 {
    font-weight: bold;
    margin-left: 15px;
    padding: 0 10px;
    color: rgb(66, 3, 57);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px 4px #7c53be;
}
.header input[type="text"] {
    margin: 0 10px;
    width: 10cm;
    height: 30px;
    border-radius: 5px;
    
}
.phoneheader{
    visibility: hidden;
    width: 0px;
}

.header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.header ul li {
    margin: 0 40px;
}
.searchContainer{
    position: relative;
    display: flex;
}
.searchDisplay{
    position: absolute;
    width: 10cm;
    bottom: 0;
    left: 0;
    top: 30px;
    height: 300px;
    background-color: rgb(129, 76, 7);
    display: none;
    border-radius: 5px;
}
.searchDisplay p{
    padding: 0px 15px;
    margin-top: 10px;
}
.searchContainer:focus-within .searchDisplay{
    display: block;
    box-shadow: 2px 2px 5px rgb(94, 92, 92);
}
.closesearch{
    display: none;
}
#drop {
    position: relative;
    display: flex;
    width: 40%;
}
.dropbtn{
    border: none;
    padding: 5px;
    margin-left: 10px;
    text-align: center;
    color: #8d0f78;
    font-weight: bold;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#drop:hover .dropdown-content {
    display: block;

}

.row,.roe:after{
    width: auto;
    content:"";
    display: table;
    clear: both;
}

.dropdown{
    margin-top: 5px;
    position: relative;
    display: inline-block;
    margin-left: 30px;
}

.dropdown-content{
    display: none;
    position: absolute;
    width: 35cm;
    height: auto;
    left: 0;
}
.dropdown-content p{
    color: black;
    text-decoration: none;
    display: block;
    padding: 5px;

}
.dropdown:hover .dropdown-content{
    display: block;
}
.column{
    float: left;
    width: auto;
    padding: 5px;
}

.downbtn img{
    width: 90%;
    height: 50px;
}

.col{
    width: 35%;
    height: 400px;
    margin-left: 150px;
    margin-top: 50px;
    float: left;
    box-shadow: 2px 2px 2px 2px rgb(115, 107, 106);
    border-radius: 5px;
}
.roe p{
    font-size: 20px;
    margin-left: 50px;
}

.column button{
    border: none;
    background-color:inherit;
}
.column p{
    color: #8e0878;
    font-weight: bold;
}
.roe h1{
    text-align: center;
    font-size: 45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.roe button{
    width:350px;
    height: 50px;
    border-radius: 5px;
    margin-left: 17%;
    background-image: url('image/btnimg.png');
    background-size: cover;
}
.roe button:hover{
    border-color: #8e0878;
    box-shadow: 5px 5px 5px rgb(71, 5, 71);
}

.second img{
    width:80%;
    height: 400px;
    margin-left: 10%;
    border-radius: 5px;
    border: 2px solid black;
}
.second img:hover{
    border-color: rgb(68, 10, 130);
    box-shadow: 5px 5px 5px rgb(66, 3, 57);
}

#slidedown,span{
    visibility: hidden;
    width: 0%;
}
.secondInsideImg{
    width: 100px;
    height: 200px;
    position:absolute;
}
.sellerbanner{
    margin: 40px 0px;
    position: relative;
}
.sellerbanner img{
    width: 80%;
    border-radius: 5px;
}
.seller_content{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    padding: 40px 0px;
}
.seller_content_content{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.seller_appdownload{
    position: relative;
    width: 350px;
    height: 80px;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
}
.seller_appdownload img{
    width: 100%;
    height: 100%;
    background-color: black;
}
.seller_content_content h2{
    color: rgb(85,133,248);
    font-size: 30px;
    margin-bottom: 0;
    margin-right: 20px;
}
.seller_content_content h1{
    color: var(--hoverTextColor);
    font-size: 50px;
    width: 60%;
    text-align: right;
}
.seller_appdownload,.prodForYou p{
    display: flex;
}


.prodForYou{
    float: left;
    width: 20%;
    background-color: aquamarine;
}
.prodForYou p{
    display: flex;
}
.footer{
    width: 100%;
}
